@charset "UTF-8";

body, input {
  font-family: 'Work Sans', sans-serif;
}

h1, h2, button {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 46px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 9px;
  text-transform: uppercase;
  color: #2C2C30;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #2C2C30;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: #666677;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  
  button:not(:last-of-type) {
    margin: 0 20px 0 0;
  }
}

button {
  background: #fff;
  color: #5267AA;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  box-shadow: none;
  line-height: 50px;
  padding: 0 35px;
  cursor: pointer;
  appearance: none;
  margin: 0;
  outline: none;
  
  transition: background 0.2s ease;
  
  &:hover {
    background: #F4F3FB;
  }
  
  &.shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  &.lined {
    color: #5267AA;
    border: 2px solid #5267AA;
    background: none;
    line-height: 46px;
    
    &:hover {
      background: rgba(82, 103, 170, 0.15);
    }
    
    &.white {
      color: #fff;
      border: 2px solid #fff;
      
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

hr {
  width: 100%;
  height: 2px;
  border: 0px;
  background: none;
  margin: 120px 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  
  &:before {
    content: '';
    width: 100px;
    height: 2px;
    background: #eee;
  }
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  
  &.padding {
    padding: 0 40px;
  }
}

section {
  width: 100%;
  position: relative;
}

section.hero {
  padding: 120px 0;
  overflow: hidden;
  
  article.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../media/placeholder.jpg) no-repeat center;
    background-size: cover;
    
    .gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      background: linear-gradient(to bottom, rgba(43, 40, 85, 0.8) 0%, rgba(95, 178, 208, 1) 100%);
    }
    
    .video-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: 0;
      
      transition: opacity 0.5s ease;
      
      video {
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
      }
    }
  }
  
  &.play article.back .video-container {
    opacity: 1;
  }
  
  article.content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      
      .badge {
        width: 280px;
        height: 280px;
        border-radius: 140px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        margin: 0 0 50px;
        background-color: #fff;
        background-image: url(../media/badge.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      
      h1, h2, p {
        color: #fff;
        text-align: center;
      }
      
      p {
        width: 100%;
        max-width: 594px;
        margin: 20px 0 40px;
      }
      
      .latest-news p {
        max-width: 700px;
        margin: 25px 0 0;
      }
      
      hr {
        margin: 80px 0;
        
        &:before {
          background: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
}


section.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  article.about {
    width: 100%;
    margin: 120px 0 0;
    display: flex;
    flex-wrap: wrap;
    
    .text {
      width: 50%;
      padding: 0 20px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      p {
        margin: 15px 0 25px;
      }
    }
    
    .image {
      width: 50%;
      padding: 0 0 0 20px;
      position: relative;
      
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      
      img {
        width: 100%;
        display: block;
        border-radius: 10px;
      }
      
      .button-wrapper {
        width: 100%;
        height: 50px;
        padding: 0 0 0 20px;
        position: absolute;
        bottom: -25px;
        left: 0;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  
  article.brands {
    width: 100%;
    
    h2 {
      text-align: center;
      margin: 0 0 80px;
    }
    
    ul.brand-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px;
      
      li {
        width: 25%;
        padding: 0 20px;
        margin: 40px 0 0;
        
        &:nth-child(-n+4) {
          margin: 0;
        }
        
        .inner {
          width: 100%;
          padding: 100% 0 0 0;
          position: relative;
          
          a {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #eee;
            border-radius: 10px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            
            transition: box-shadow 0.2s ease, transform 0.2s ease;
            
            &:hover {
              box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
              transform: translate3d(0px, -5px, 0px);
            }
            
            .logo {
              width: 100%;
              height: 0px;
              flex-grow: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 20px;
              
              img {
                width: 100%;
                max-width: 120px;
              }
            }
            
            p {
              width: 100%;
              height: 60px;
              line-height: 60px;
              display: block;
              border-top: 1px solid #eee;
              font-weight: 600;
              color: #2C2E30;
              padding: 0 0 0 20px;
              position: relative;
              
              transition: border-color 0.2s ease;
              
              &:before {
                content: '';
                width: 50px;
                height: 60px;
                position: absolute;
                top: 0;
                right: 0;
                background: url(../media/arrow.svg) no-repeat center;
                background-size: 6px 10px;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  margin: 120px 0 0;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 35px 0;
  
  p {
    line-height: 20px;
    
    a {
      color: #2BC2ED;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

section.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: 50px;
  
  display: none;
  opacity: 0;
  
  transition: opacity 0.4s ease;
  
  &.display {
    display: flex;
  }
  
  &.show {
    opacity: 1;
    
    .overlay-content .close-overlay {
      transform: scale(1);
    }
  }
  
  .overlay-content {
    width: 100%;
    max-width: 1000px;
    position: relative;
    
    .close-overlay {
      width: 50px;
      height: 50px;
      position: absolute;
      top: -25px;
      right: -25px;
      z-index: 10;
      cursor: pointer;
      background-color: #fff;
      background-image: url(../media/close.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px;
      border-radius: 25px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      
      transform: scale(1.2);
      transition: transform 0.4s ease;
    }
  }
}

section.video-overlay {
  &.show .video-wrapper {
    transform: scale(1);
  }
  
  .overlay-content {
    &:hover .close-overlay {
      opacity: 1;
    }
    
    .close-overlay {
      opacity: 0.25;
      
      transition: opacity 0.2s ease, transform 0.4s ease;
    }
  }
  
  .video-wrapper {
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
    transition: transform 0.4s ease;
    
    article.video-player {
      width: 100%;
      padding: 56.25% 0 0 0;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background: #fff;
      -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
      
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

section.signup-overlay {
  &.show .overlay-content article.signup-form {
    transform: scale(1);
  }
  
  .overlay-content {
    max-width: 700px;
    
    article.signup-form {
      width: 100%;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
      padding: 60px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      transform: scale(0.9);
      transition: transform 0.4s ease;
      
      p {
        width: 100%;
        max-width: 340px;
        font-size: 13px;
        line-height: 20px;
        margin: 10px 0 20px;
      }
      
      .input-wrapper {
        width: 100%;
        max-width: 460px;
        position: relative;
        
        input {
          width: 100%;
          height: 50px;
          background: none;
          border-radius: 5px 0 0 5px;
          border: none;
          box-shadow: none;
          font-size: 15px;
          text-indent: 17px;
          color: #2C2C30;
          outline: none;
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 0 50px 0 0;
          
          appearance: none;
          
          transition: border-color 0.2s ease;
          
          &:focus {
            border-color: #CACBDD;
            
            ~ button:before {
              background: #CACBDD;
            }
          }
        }
        
        button {
          width: 48px;
          height: 48px;
          padding: 0;
          border-radius: 0 5px 5px 0;
          position: absolute;
          top: 1px;
          right: 1px;
          background: none;
          background-color: none;
          background-image: url(../media/arrow.svg);
          background-size: 7px;
          background-repeat: no-repeat;
          background-position: center;
          
          &:before {
            content: '';
            width: 1px;
            height: 30px;
            position: absolute;
            top: 10px;
            left: 0;
            background: #eee;
            
            transition: background 0.2s ease;
          }
        }
      }
    }
  }
}

/* ==============================
  Tablet styles
============================== */

@media only screen and (max-width: 1024px) {
  
  h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 6px;
  }
  
  .wrapper {
    max-width: 740px;
    
    &.padding {
      padding: 0 20px;
    }
  }
  
  hr {
    margin: 100px 0;
  }
  
  section.hero {
    padding: 100px 50px;
    
    article.back .video-container {
      display: none;
    }
    
    article.content .wrapper {
      .badge {
        width: 250px;
        height: 250px;
        margin: 0 0 40px;
      }
      
      p {
        margin: 10px 0 40px;
      }
      
      hr {
        margin: 50px 0;
      }
    }
  }
  
  section.main {
    padding: 0 30px;
    
    article.about {
      margin: 100px 0 0;
      
      .text {
        width: 100%;
        order: 2;
        padding: 0;
        margin: 75px 0 0;
        text-align: center;
        
        p {
          margin: 20px 0 0;
        }
      }
      
      .image {
        width: 100%;
        order: 1;
        padding: 0;
      }
    }
    
    article.brands {
      h2 {
        margin: 0 0 50px;
      }
      
      ul.brand-list {
        padding: 0 10px;
        
        li {
          width: 33.333%;
          padding: 0 10px;
          margin: 20px 0 0;
          
          &:nth-child(-n+3) {
            margin: 0;
          }
          
          &:nth-child(4n) {
            margin: 20px 0 0;
          }
          
          .inner a {
            &:hover {
              box-shadow: none;
              transform: translate3d(0px, 0px, 0px);
            }
            
            &:active {
              box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
              transform: translate3d(0px, -5px, 0px);
            }
          }
        }
      }
    }
  }
  
  footer {
    margin: 100px 0 0;
  }
  
}

/* ==============================
  Small tablet styles
============================== */

@media only screen and (max-width: 700px) {
  
  h1 {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 4px;
  }
  
  hr {
    margin: 60px 0;
  }
  
  section.hero {
    padding: 60px 30px;
    
    article.content .wrapper {
      
      .button-wrapper {
        max-width: 220px;
        justify-content: center;
        
        button:first-child {
          margin: 0 0 20px;
        }
      }
    }
  }
  
  section.main {
    padding: 0 10px;
    
    article.about {
      margin: 60px 0 0;
      
      .image img {
        border-radius: 5px;
      }
    }
    
    article.brands {
      h2 {
        margin: 0 0 30px;
      }
      
      ul.brand-list {
        justify-content: center;
        
        li {
          width: 50%;
          max-width: 240px;
          
          &:nth-child(-n+2) {
            margin: 0;
          }
          
          &:nth-child(3) {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  
  footer {
    margin: 60px 0 0;
  }
  
  section.overlay {
    padding: 30px;
    
    &.video-overlay .overlay-content {
      .close-overlay {
        opacity: 1;
      }
      
      .video-wrapper article.video-player {
        border-radius: 5px;
      }
    }    
  }
  
  section.signup-overlay .overlay-content {
    article.signup-form {
      padding: 50px 30px 30px;
      
      p {
        margin: 10px 0 35px;
      }
    }
  }
  
}

/* ==============================
  Large mobile styles
============================== */

@media only screen and (max-width: 450px) {
  
  section.main article.brands ul.brand-list li {
    width: 100%;
    margin: 20px 0 0;
    
    &:first-child {
      margin: 0;
    }
    
    &:nth-child(2) {
      margin: 20px 0 0;
    }
  }
  
}

/* ==============================
  Mobile styles
============================== */

@media only screen and (max-width: 400px) {
  
  hr {
    margin: 50px 0;
  }
  
  section.hero {
    padding: 50px 20px;
    
    article.content .wrapper {
      .badge {
        width: 200px;
        height: 200px;
      }
    }
  }
  
  section.main {
    padding: 0;
  }

  footer {
    margin: 50px 0 0;
  }
  
  section.overlay {
    padding: 10px;
    
    .overlay-content .close-overlay {
      right: 50%;
      margin-right: -25px;
      top: -60px;
    }
    
    &.video-overlay .overlay-content .close-overlay {
      opacity: 1;
    }
  }
  
  section.signup-overlay .overlay-content {
    .close-overlay {
      top: -25px;
    }
    
    article.signup-form {
      padding: 50px 20px 20px;
      
      p {
        margin: 10px 0 25px;
      }
    }
  }
  
}